<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Exemple facture</title>
    <link rel="stylesheet" href="../stylesheets/reset.css">

<style>
 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}   
    /* line 4, ../sass/exemple.scss */
html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../sass/exemple.scss */
*,
*:before,
*:after {
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/* line 13, ../sass/exemple.scss */
body {
  font-family: "century gothic", arial, sans-serif;
}

/* line 16, ../sass/exemple.scss */
.container {
  max-width: 2260px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 20, ../sass/exemple.scss */
.head {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-bottom: 2px solid #2a4158;
}
/* line 12, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.head:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 24, ../sass/exemple.scss */
.head img {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  height: auto;
}
/* line 28, ../sass/exemple.scss */
.head .entreprise {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  text-align: left;
}
/* line 31, ../sass/exemple.scss */
.head .entreprise label {
  display: inline-block;
  width: 150px;
}
/* line 35, ../sass/exemple.scss */
.head .entreprise input {
  background: pink;
  width: 250px;
  height: 20px;
  margin-bottom: 15px;
  border: none;
  outline: none;
}
/* line 43, ../sass/exemple.scss */
.head .entreprise:first-child {
  text-transform: uppercase;
}
/* line 47, ../sass/exemple.scss */
.head .num_facture {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  float: right;
  margin-right: 0;
  float: right;
}
/* line 51, ../sass/exemple.scss */
.head .num_facture h1 {
  background: #2a4158;
  color: #fff;
  text-align: center;
  padding-top: 20px;
  font-size: 24px;
  height: 115px;
}

/* line 61, ../sass/exemple.scss */
.info_client {
  width: 100%;
  display: block;
}
/* line 64, ../sass/exemple.scss */
.info_client label {
  display: inline-block;
  width: 150px;
}
/* line 68, ../sass/exemple.scss */
.info_client input {
  width: 350px;
  height: 20px;
  margin-bottom: 15px;
  border: none;
  outline: none;
}
/* line 76, ../sass/exemple.scss */
.info_client form:first-child {
  margin-bottom: 30px;
}

/* line 81, ../sass/exemple.scss */
table {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  text-align: center;
}
/* line 12, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
table:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 85, ../sass/exemple.scss */
table th {
  background: #2a4158;
  height: 30px;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
}
/* line 92, ../sass/exemple.scss */
table tr :first-child {
  width: 20%;
}
/* line 96, ../sass/exemple.scss */
table tr :nth-child(2) {
  width: 30%;
}
/* line 101, ../sass/exemple.scss */
table td, table th {
  border: 1px solid #2a4158;
  width: 10%;
}

</style>
</head>

<body>
    <div class="container">
        <div class="head">
            <!--Début de l'en-tête de facture contenant les coordonnées client-->
            <img src="{{contact.logo}}" alt="{{contact.name}}" width="470" height="470">
                
            <ul>
                <li>{{company.name}}</li>
                <li>{{company.contact.street}}, {{company.contact.number}}</li>
                <li>{{company.contact.zip}} {{company.contact.town}}</li>
                <li>{{company.contact.country}}</li>
                <li>Tel: {{company.contact.phoneMain}} {{company.contact.phoneSec}}</li>
                <li>Fax: {{company.contact.fax}}</li>
                <li>E-mail: {{company.contact.mail}}</li>
            </ul>
            <section class="num_facture">
            <h1>Facture</h1></br>
            <p>{{numFacture}}</p></br>
            <p>{{dateFacture}}</p></br>
            </section>
        </div>
        <div class="info_client">
                <ul>
                    <li>{{client.contactPerson.civility}} {{client.contactPerson.firstname}} {{client.contactPerson.lastname}}</li>
                    <li>{{client.billingInfo.street}}, {{client.billingInfo.number}}</li>
                    <li>{{client.billingInfo.town}}</li>
                    <li>{{{client.billingInfo.country}}</li>
                </ul>
        </div>
        <table>
            <tr>
                <th>Article</th>
                <th>Description</th>
                <th>Qte</th>
                <th>P/U</th>
                <th>Montant</th>
            </tr>
            {{#articles}}
            <tr>
                <td>{{name}}</td>
                <td>{{description}}</td>
                <td>{{quantity}}</td>
                <td>{{unitPrice}}</td>
                <td>{{amount}}</td>
            </tr>
            {{/articles}}
        </table>
    </div>
</body>

</html>